<!DOCTYPE html>
<html lang="en"><head>
<meta http-equiv="content-type" content="text/html; charset=UTF-8">
		<meta charset="utf-8">
		<link rel="icon" href="http://localhost:3000/favicon.png">
		<link rel="stylesheet" href="1_files/global.css">
		<meta name="viewport" content="width=device-width, initial-scale=1">
		
	
	<style type="text/css">.container.s-PoaHcXV6SIWL{max-width:1400px;margin:50px auto}.s-PoaHcXV6SIWL{}</style><style type="text/css">.s-SmLxFdbH7CfO{}</style></head>
	<body>
		<div><nav class="s-PoaHcXV6SIWL"><div class="nav-container s-PoaHcXV6SIWL"><a href="http://localhost:3000/" class="nav-logo s-PoaHcXV6SIWL" title="Back to Homepage">Adam Marton</a> <div class="nav-links s-PoaHcXV6SIWL"><a href="http://localhost:3000/about" class="link s-PoaHcXV6SIWL">About</a> <a href="http://localhost:3000/blog" class="link s-PoaHcXV6SIWL">Blog</a> <a href="http://localhost:3000/projects" class="link s-PoaHcXV6SIWL">Projects</a> <a href="http://localhost:3000/contact" class="link s-PoaHcXV6SIWL">Contact</a> <a href="http://localhost:3000/components" class="link s-PoaHcXV6SIWL">Components/Loops+</a></div></div></nav> <div class="container s-PoaHcXV6SIWL"><div class="post s-SmLxFdbH7CfO"><h2 class="s-SmLxFdbH7CfO">Project 1</h2> <p class="s-SmLxFdbH7CfO">Project 1 - quia et suscipit
suscipit recusandae consequuntur expedita et cum
re</p> <p class="readmore s-SmLxFdbH7CfO"><a style="color: rgb(10, 10, 139);" href="http://localhost:3000/portfolio/1" class="s-SmLxFdbH7CfO">Read More</a></p></div><!--<[id]>--></div><!--<__layout>--> <div id="svelte-announcer" aria-live="assertive" aria-atomic="true" style="position: absolute; left: 0px; top: 0px; clip: rect(0px, 0px, 0px, 0px); clip-path: inset(50%); overflow: hidden; white-space: nowrap; width: 1px; height: 1px;"></div><!--<Root>--></div>
	


</body></html>